.top-right-links {
    list-style-type: none; /* removes the bullet points */
    margin: 0; /* flush top */
    padding: 0;
    overflow: hidden;
}

.top-right-links li {
    float: right;
}

.top-right-links li a { /* this is for li with anchor (a) class */
    display: block;
    padding: 20px 10px;
    text-decoration: none; /* removes the default underline */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:rgb(49, 49, 49)
}

.top-right-links li a:hover {
    text-decoration: underline;
}

.top-right-links li a span {
    position: relative;
    color:rgb(120, 120, 120);
    top: -12px; /* adjust the icon position */
    /* when hover, circle created wont move surrounding elements & increases size of circle */
    /* border all around the icon */
    border: 10px solid transparent;
}

.top-right-links li a span:hover {
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
}

.google-container {
    text-align: center;
    margin: 160px 0 30px 0; /* top/bottom is 250px, right/left is 0px */
}

.wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
    width: 570px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto; /* margin right left to center the search-bar */
}

.wrapper span {
    margin-top: 10px;
    color: rgb(204, 203, 203)
}

.search-bar {
    border: 1px solid rgb(204, 203, 203);
    border-radius: 30px;
    height: 40px;
    width: 100%;
    padding-left: 50px; /* move the position of the starting text | */
}

.search-bar:hover, .search-bar:focus {
    box-shadow: 0 0 5px rgb(202, 202, 202);
    outline: none; /* removes default blue hightlight around box for text input */
}

.search-bar-search-icon {
    position: absolute;
    left: 15px;
}

.search-bar-mic-icon { /* to position the icons within the search-bar */
    position: absolute;
    right: 15px;
}

.search-bar-mic-icon:hover {
    cursor: pointer; 
}

.search-button-container {
    text-align: center;
}

.search-button {
    background-color:rgb(248, 248, 248);
    color: rgb(49, 49, 49);
    border: none;
    height: 36px;
    width: 130px;
    font-size: 14px;
}

.search-button:hover {
    box-shadow: 0 0 5px rgb(202, 202, 202);
    cursor: pointer; 
}

.other-languages-container {
    margin-top: 30px;
}

.other-languages-text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.other-languages-text a { /* for the anchor tag in other-languages-text */
    text-decoration: none;
    color: rgb(0, 0, 165);
}

.other-languages-text a:hover {
    text-decoration: underline;
}

.footer-container {
    position: absolute; /* positioned relative to the nearest positioned ancestor */
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(238, 238, 238);
}

.footer-top-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 30px;
    color: rgb(120, 120, 120);
}

.footer-bottom-container {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgb(238, 238, 238);
}

/* Use float: left/right to have left/right align on same line */
.footer-left {
    display: inline-block; /* so the left and right links can be placed on the SAME LINE inline */
    list-style-type: none; /* removes the bullet points */
    overflow: hidden;
}

.footer-left li {
    float: left;
}

.footer-left li a {
    padding: 0px 20px 0 0;
    text-decoration: none; /* removes the default underline */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(120, 120, 120);
}

.footer-left li a:hover {
    text-decoration: underline;
}

.footer-right {
    display: inline-block;
    float: right;
    list-style-type: none; /* removes the bullet points */
    overflow: hidden;
}

.footer-right li {
    float: right;
}

.footer-right li a {
    padding: 0 40px 0px 0px;
    text-decoration: none; /* removes the default underline */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(120, 120, 120);
}

.footer-right li a:hover {
    text-decoration: underline;
}